.App {
  font-family: sans-serif;
  text-align: center;
}

.cellContainer {
  display: flex;
  align-items: center;
}
.cell {
  margin: 1px;
  background: #e513c1;
  cursor: pointer;
  width: 80px;
  height: 30px;
  padding: 15px;
}
.cell-bomb {
  margin: 1px;
  background: yellow;
  cursor: pointer;
  width: 80px;
  height: 30px;
  padding: 15px;
}
.cell-blank {
  margin: 1px;
  background: lightcyan;
  cursor: pointer;
  width: 80px;
  height: 30px;
  padding: 15px;
}
.bomb {
  width: 30px;
  height: 30px;
}
.minecontainer {
  display: flex;
  justify-content: center;
}
.title {
  text-align: center;
  height: 30px;
  color: red;
}
.green{
  color:rgb(58, 223, 58);
}
.count {
  font-size: x-large;
  font-weight: bold;
  font-family: cursive;
  color: white;
}
.main-title {
  font-size: xxx-large;
  color: #007eff;
  font-family: cursive;
}
.cell-disabled{
  pointer-events:none;
  opacity: 0.4;
}
